
@{
    ViewData["Title"] = "Avatar";
}

<h1>Avatar</h1>
<img id="img1" />

@section Scripts{
<script>
    const img = document.getElementById('img1');
    (async() => {
        const response = await fetch('@Url.Content("~/api/avatar/4")');
        const data = await response.blob();
        img.src = URL.createObjectURL(data);
    })();
</script>    
}