
@{
    ViewData["Title"] = "JsonRead";
}

<h1>JsonRead</h1>
<ul id ="list">  
</ul>
@section Scripts{
    <script>
        const emplist = document.querySelector('#list');

        const emps = [{ "name": "Tom", "workYears": 3, "salary": 35000 },
        { "name": "Jack", "workYears": 5, "salary": 40000 },
        { "name": "Mary", "workYears": 7, "salary": 45000 }];

        // for (let i = 0; i < emps.length; i++) {
        //     console.log(emps[i].name)
        //     console.log(emps[i].workYears)
        //     console.log(emps[i].salary)
        // }


        const empli = emps.map(emp => {
            return( `
              <li>${emp.name},${emp.workYears},${emp.salary}</li>
             `)
           
        });
        console.log(empli);

        emplist.innerHTML = empli.join("");
    </script>
}