
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form id="userForm">
            <div class="mb-3">
                <label for="userName" class="form-label">姓名：</label>
                <input type="text" class="form-control" id="userName" name="Name">
                <div class="alert alert-warning" id="divWarning"></div>
            </div>
            <div class="mb-3">
                <label for="UserEmail" class="form-label">電子郵件：</label>
                <input type="email" class="form-control" id="UserEmail" name="Email">
            </div>
            <div class="mb-3">
                <label for="userAge" class="form-label">年紀：</label>
                <input type="number" class="form-control" id="userAge" name="Age">
            </div>

            <button id="button1" type="submit" class="btn btn-primary">送出</button>
        </form>
        <div class="alert alert-info" id="div1"></div>
    </div>
    <div class="col-3">
    </div>
</div>

@section Scripts{
    <script>
        const username = document.getElementById('userName');
        const useremail = document.getElementById('UserEmail');
        const userage = document.getElementById('userAge');
        const divWarning = document.getElementById('divWarning');
        const form = document.getElementById('userForm');
        const btnSubmit = document.getElementById('button1');
        const div1 = document.getElementById('div1');
        // (async () => {
        //     const url = '@Url.Content("~/api/Register")?name=roger&age=31';
        //     const response = await fetch(url);
        //     const data = await response.text();
        //     console.log(data);
        // })();
        username.addEventListener('blur', async () => {
            if (username.value) { 
                const url = `@Url.Content("~/api/CheckAccount")?Name=${username.value}`
            const response =await fetch(url);
            const data = await response.text();
                btnSubmit.disabled = (data !== `此姓名可以使用`);
                divWarning.innerHTML = data;
            }
        })
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const url = `@Url.Content("~/api/Register")?Name=${username.value}&Email=${useremail.value}&Age=${userage.value}`;

            try {
                const responseII = await fetch(url);

                if (!responseII.ok) {
                    throw new Error(`錯誤! 代碼: ${responseII.status}`);
                }

                const dataII = await responseII.text();
                // console.log(dataII);
                div1.innerHTML = dataII;
            } catch (error) {
                console.error('錯誤代碼:', error);
            }
        })
        
    </script>
}