
<div id="travel" class="row row-cols-1 row-cols-md-3 g-4"></div>

@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        // console.log(spots.CommonFormat.Section);
        
        const travelli = spots.CommonFormat.Section.map(spot => {
            let str = spot.xbody;
            if (str.length > 100) {
                str = str.slice(0, 99);
            }
            const img = Array.isArray(spot.file.img)?spot.file.img[0].text:spot.file.img.text
            return (                
                `  <div class= "col">
                            <div class="card h-100">
                                <img src="${img}" class="card-img-top" alt = "...">
                              <div class="card-body">
                                 <h5 class="card-title">${spot.stitle} </h5>
                                 <p class="card-text"> ${str}</p>
                              </div>
                                    <div class="card-footer" >
                                    <small class="text-body-secondary">${spot.address} </small>
                                   </div>
                               </div>
                             </div>`)
        })

        document.querySelector('#travel').innerHTML = travelli.join("");

    </script>
}